In [1]:
import pandas as pd
ufo = pd.read_csv('data/ufo.csv', sep=',')

In [5]:
ufo_df = ufo.copy()
ufo['Date'] = pd.to_datetime(ufo['Time'], dayfirst=True)
display(ufo['Date'])

0       1930-01-06 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-01-06 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Date, Length: 18241, dtype: datetime64[ns]

In [8]:
year_seen = ufo_df['Date'].dt.year
year_seen.mode()

0    1999
Name: Date, dtype: int64

In [11]:
ufo_df['Date'] = ufo_df['Time'].dt.date
print(ufo_df[ufo_df['State']=='NV']['Date'].diff().dt.days.mean())

68.72084805653711

In [15]:
import pandas as pd
citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')

In [16]:
citibike_tripdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [17]:
citibike_tripdata['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

In [18]:
citibike_tripdata['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

In [22]:
mode_usertype = citibike_tripdata['usertype'].mode()[0]
count_mode_user = citibike_tripdata[citibike_tripdata['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citibike_tripdata.shape[0], 2))

0.77

In [23]:
male_count = citibike_tripdata[citibike_tripdata['gender'] == 1].shape[0]
female_count = citibike_tripdata[citibike_tripdata['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

In [24]:
citibike_tripdata.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

In [27]:
citibike_tripdata.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citibike_tripdata.shape[1])

12

In [28]:
citibike_tripdata['age'] = 2018 - citibike_tripdata['birth year']
citibike_tripdata.drop(['birth year'], axis=1, inplace=True)
print(citibike_tripdata[citibike_tripdata['age'] > 60].shape[0])

11837

In [31]:
citibike_tripdata['starttime'] = pd.to_datetime(citibike_tripdata['starttime'])
citibike_tripdata['stoptime'] = pd.to_datetime(citibike_tripdata['stoptime'])
citibike_tripdata['trip duration'] = (citibike_tripdata['stoptime'] - citibike_tripdata['starttime'])
print(citibike_tripdata['trip duration'].mean().seconds)

1126

In [32]:
weekday = citibike_tripdata['starttime'].dt.dayofweek
citibike_tripdata['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
citibike_tripdata['weekend'].sum()

115135

In [33]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
citibike_tripdata['time_of_day'] = citibike_tripdata['starttime'].dt.hour.apply(get_time_of_day)
a = citibike_tripdata[citibike_tripdata['time_of_day'] == 'day'].shape[0]
b = citibike_tripdata[citibike_tripdata['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9